.board {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 34px;
    align-self:stretch;
}

.created_date {
    font: 12px Arial;
    color: #848D95;
    
}

.author_profile_bottom {

}

.author_pic  {
    width: 20px;
    height: 20px;
}

.img {
    width: 20px;
    height: 20px;
    object-fit: scale-down;
}

