.board {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 34px;
    align-self: flex-end;
}

.created_date {
    font: 12px Arial;
    color: #848D95;
    
}

.author_profile_bottom {

}