.div5 {
    width: 5px;
    height:auto;
    display:inline-block;
}

.div24 {
    margin: 0px 12px;
    height:auto;
    display:inline-block;
}

.coldiv10 {
    width: auto;
    display: inline;
    height: 10px;
}

.coldiv5 {
    width: auto;
    display: inline;
    height: 5px;
}

.board_all {
    display: flex;
    flex-direction: row;
}


.board {
    /* Frame 16 */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items :flex-start;
    padding: 10px;

    position: absolute;
    width: 50%;
    height: max-content;
    left: 350px;
    top: 53px;

}

.box {
    display: flex;
    height: max-content;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

.main_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid;
    border-bottom-color: #EFEFEF;
    padding-top: 15px;
    padding-bottom: 10px;
}

.qdetail_main_title_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 3px 2px;
    height: max-content;
    justify-content: space-between;
}

.qdetail_main_title {
    font:27px Arial;
    color: #3C4146;

}

.btn_box {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.askq_btn {
    align-items:center;
    align-self: flex-end;
    text-align: end;
    //FIXME: 
}

.askq {
    background-color: #0095FF;
    color: #FFFFFF;
    width: 100px;
    height: 25px;
    text-align: center;
    font: 13px Arial;
    vertical-align:middle;
    padding-top: 9px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}

.qdetail_top_info_box {
    font: 13px sans-serif;
}

.qdetail_top_info {
    display: flex;
    flex-direction: row;

}   

.qdetail_top_info {

}

.asked_at {
    color: #6A737C;
    margin: 0px 0px;
}

.answered_number {
    margin: 0px 4px;
    color: #242729;
}

.view_number {
    margin: 0px 4px;
    color: #242729;
}

.view_count {
    color: #6A737C;
    margin: 0px px;
}

.times {

}

.q_main_content_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: max-content;
    margin: 10px 0px;
}

.QdetailBoxLeft {
    display: flex;
    flex-direction: column;
    flex: 16%;
    padding: 5px;
    margin: 5px 8px;
}

.VoteBox {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    text-align: center;
}

.votes {
    padding: 3px;
    margin: 6px 0px;
}

.bookmark_box {
    margin: 30px 0px;
    text-align: center;
}


.bookmark {

}

.questionContent {
    font: 19px sans-serif;
}

.questionTags {
    display: flex;
    flex-direction: row;
    height: max-content;
    margin: 12px 0px;
    width: 100%;
    align-items: flex-end;
    font: 13px Helvetica;
    color: white;
    text-decoration: none;
}

.tag_element {
    margin: 3px 5px;
    padding: 2px;
    text-decoration: none;
    background-color: cadetblue;
    border-radius: 1px;
}

.questionbottomBox {
    display: flex;
    flex-direction: row-reverse;
    border: 2px black;
}

