.box {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: fit-content;
    padding: 20px;
    align-items: center;
    margin-top: 0px;
}

.box12 {
    width: 80%;
    left: 40%;
}

.box13 {
    font: 30px Arial;
    font-weight:700;
}

.box_top {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 20%;

    margin-right: 20%;
    height: fit-content;
    padding: 20px;
    align-items: center;
    margin-top: 40px;
}


.board {
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 2px 6px 0px, rgba(0, 0, 0, 0.09) 0px 3px 8px 0px;
}

.body {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.top_sub {
    font: 15px Arial;
    font-weight: bolder;
    color: #0C0D0E;
    padding-top: 5px;
}

.top_sub1 {
    font: 24px Arial;
    font-weight: bolder;
    color: #0C0D0E;
    padding-top: 5px;
}

.help1 {
    font: 12px Arial;
    color: #3C4146;
    padding: 3px;
}

.input_title {
    width: 97%;
    align-self: center;
    padding: 7.8px 9.1px;
    border: 1px solid;
    border-color: #BBC0C4;
    border-radius: 2px;
    padding-bottom: 12px;
    margin-bottom: 15px;
    font: 14px Arial;
}

.up_margin {
    margin-top: 15px;
}

.board_all {
    display: flex;
    flex-direction: column;
}

.top_sub1 {
    font-size: 20px;
    font-weight: bolder;
}

.btn {
    display: inline-block;
    width: 140px;
    height: 23px;
    padding: 6px;
    color: #FFFFFF;
    background-color: #0095FF;
    font: 15px Arial;
    text-align: center;
    margin-top: 9px;
    vertical-align: middle;
    border: 1px solid;
    border-color: transparent;
    border-radius: 2px;
    cursor: pointer;
}