// This is the project stylesheet

// Colors
$blue: rgba(32, 63, 85, 1);
$green-hover: rgba(0, 107, 102, 1);
$green-light: rgba(118, 192, 188, 1);
$green-primary: rgba(0, 184, 176, 1);
$green-primary-opacity20: rgba(0, 184, 176, 0.2);
$grey: rgba(147, 175, 195, 1);
$light-grey: rgba(229, 233, 237, 1);
$red: rgba(255, 129, 129, 1);
$red-opacity20: rgba(255, 129, 129, 0.2);
$white: rgba(255, 255, 255, 1);

// Text colors
$text-black: rgba(41, 44, 46, 1);
$text-blue: rgba(32, 63, 84, 1);
$text-green-primary: rgba(0, 184, 176, 1);
$text-grey: rgba(147, 175, 195, 1);
$text-red: rgba(255, 129, 129, 1);
$text-white: rgba(255, 255, 255, 1);

// Typographies
@mixin roboto-12-medium {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
@mixin roboto-12-regular {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
@mixin roboto-16-bold {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
@mixin roboto-16-regular {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
@mixin roboto-24-medium {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
@mixin roboto-32-bold {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
@mixin roboto-52-medium {
  font-family: "Roboto";
  font-size: 52px;
  font-weight: 500;
  line-height: 38px;
}
@mixin roboto-72-bold {
  font-family: "Roboto";
  font-size: 72px;
  font-weight: 700;
  line-height: 85px;
}
