.border {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 500px;
    left:0;
    top:0;
    flex-flow: column nowrap;
    padding: 30px;
}

.box {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    text-align: end;
}

@media screen and (max-width: 1150px) {
    .border {
        visibility: hidden;
        width: 0px;
    }
}
